.form {
  max-width: 1200px;
  min-width: 800px;
  height: 60px;
  margin: 1px auto 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  gap: 1px;
}

.form-left {
  height: 100%;
  display: flex;
  gap: 1px;
}

.form p {
  background-color: rgb(240, 240, 240);
  width: 120px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 700;

  box-sizing: border-box;
}

.form input {
  background-color: #fff;
  width: 200px;
  height: 100%;
  
  border: transparent;
  box-sizing: border-box;
  padding: 0 10px;
}

.form input:focus {
  outline: none;
}

.form div:nth-child(2) {
  background-color: #fff;
  width: 50%;
  height: 100%;
}

.form button {
  background-color: #fff;
  width: 120px;
  height: 100%;

  font-size: 14px;
  font-weight: 700;
  
  border: transparent;
  box-sizing: border-box;
  padding: 0 10px;
}

.form button:hover {
  background-color: #34A853;
  color: #fff;
  transition: .3s;
}