.list {
  background-color: orange;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.list-wrap {
  background-color: rgb(72, 143, 168);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  
}